{% extends 'main.html' %}

{% block content %}

<div class="aboutus">
    <h1>About Us</h1>
    <div class="audetails">
        <p>Welcome to ShopSphere, your one-stop destination for quality products and exceptional service. <br><br> We’re
            passionate about bringing you the latest trends, must-have items, and everyday essentials, all at unbeatable
            prices. <br><br> Our mission is to make online shopping easy, enjoyable, and accessible for everyone.
            <br><br> With
            a diverse
            range of products, secure payment options, and fast shipping, we’re here to provide a seamless shopping
            experience from start to finish. <br><br> Thank you for choosing ShopSphere, we’re thrilled to be part of
            your
            journey!
        </p>
    </div>
    <p id="pculink">If you have any query feel free to contact us! <a href="{% url 'contactus' %}">Contact us</a></p>
</div>

{% endblock content %}