{% extends 'main.html' %}

{% block content %}

<div class="contactus">
    <h1>Contact Us</h1>
    <div class="cuform">
        <form action="" method="POST">
            {% csrf_token %}
            {{contactForm}}
            <input type="submit" value="submit" id="#submit">
            <!-- <div class="col-md-6">
                <label for="" class="form-label">{{contactForm.fname.label}} :</label>
                {{contactForm.fname}}
            <div class="col-md-6">
                <label for="" class="form-label">{{contactForm.lname.label}}</label>
                <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">{{contactForm.email.label}}</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword4">
            </div> -->
        </form>
    </div>
</div>

{% endblock content %}